= simple_form_for([:cms, @cms_reference_service], :html => { :class => 'form-horizontal' } ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :text

  .form-actions
    = f.button :submit
