%table.table.table-bordered.sortable-table
  %tr
    %th= ReferenceBranch.human_attribute_name :name
    %th= ReferenceBranch.human_attribute_name :text

  - @cms_reference.reference_branches.each do |branch|
    %tr
      %td= branch.name
      %td= branch.text

%br
%h3= t('.select_branches')
%hr

= simple_form_for([:cms, @cms_reference], :html => { :class => 'form-horizontal' } ) do |f|
  = f.error_notification

  .form-inputs
    = f.association :reference_branches, :as => :check_boxes, :label => t('activerecord.models.reference_branches')
  .form-actions
    = f.button :submit
