%h1= t('.title')

.row-fluid.actions
  .pull-right.padded
    = link_to new_cms_reference_branch_path, :class => 'btn btn-primary' do
      %i.icon-plus-sign.icon-white
      #{ t('.new') }

%table.table.table-bordered.table-striped
  %tr
    %th= ReferenceBranch.human_attribute_name :name
    %th= ReferenceBranch.human_attribute_name :text
    %th
    %th

  - @cms_reference_branches.each do |cms_reference_branch|
    %tr
      %td= cms_reference_branch.name
      %td= cms_reference_branch.text
      %td= link_to t('cms.edit'), edit_cms_reference_branch_path(cms_reference_branch)
      %td= link_to t('cms.destroy'), cms_reference_branch_path(cms_reference_branch), method: :delete, data: { confirm: t('cms.are_you_sure') }

%br
