= simple_form_for([:cms, :reference, @cms_reference_asset], :html => { :class => 'form-horizontal' } ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :asset
    = f.input :size, :collection => ReferenceAsset::ASSET_SIZES, :as => :radio_buttons
    = f.input :position
    = f.input :text
    = f.hidden_field :type
    = f.hidden_field :reference_id

  .form-actions
    = f.button :submit
