#reference-show
  .reference-content
    %h1= @reference.title

    .short-description
      %p= @reference.short_description

    #description.collapse
      %p= @reference.description

    .more-about{ :data => { :toggle => 'collapse', :target => '#description' } }
      = "#{t('more_about')} #{@reference.title}"

  #asset-grid
    = render 'detail_asset'

  - if @reference.reference_assets.count > 6
    %button#more-images.btn.btn-link
      = t('show_more_images')


  .more-references
    %h2= t('more_references')

    .reference-teasers.clearfix
      = render 'teaser_references'
